In [1]:
# 직각 이등변 삼각형과 사각형

def put_star(n):
    """n개의 '*'을 연속해서 출력"""
    for _ in range(n):
        print('*', end='')

print('직각 이등변 삼각형')
n = int(input('짧은 변의 길이：'))

for i in range(1, n + 1):
    put_star(i)
    print()

print('사각형')
w = int(input('가로：'))
h = int(input('세로：'))

for i in range(1, h + 1):
    put_star(w)
    print()

직각 이등변 삼각형
*
**
***
****
*****
사각형
*****
*****
*****
*****
*****
*****
*****

In [2]:
help(put_star)

Help on function put_star in module __main__:

put_star(n)
    n개의 '*'을 연속해서 출력

In [ ]:
# 두 값의 최솟값과 최댓값 구하기

def min_max2(a, b):
    """a와 b의 최솟값과 최댓값을 구하여 리턴"""
    return (a, b) if a < b else (b, a)

n1 = int(input('정수 n1：'))
n2 = int(input('정수 n2：'))

minimum, maximum = min_max2(n1, n2)
print('최솟값은', minimum, '이고 최댓값은', maximum, '입니다.')

In [4]:
def func():
    """아무것도 안하는 함수"""
    return # pass해도 None

print(func())

None

In [7]:
print(print('ABC'))

ABC
None

In [8]:
# 1부터 n까지의 합 구하기

def sum_1ton(n):
    """1부터 n까지의 합 구하기"""
    s = 0
    while n > 0:
        s += n
        n -= 1
    return s

x = 15
total = sum_1ton(x)
print('1부터 ', x, '까지의 합은 ', total, '입니다.', sep='')

1부터 15까지의 합은 120입니다.

In [12]:
n = 5 
m = n
print(id(n))
print(id(m))
m -= 1
print(id(m))
print(m)
print(n)

140726156567592
140726156567592
140726156567560
4
5

In [13]:
# 전달된 시점의 매개 변수가 인수 그 자체인 점을 확인하기

def func(n):
    """매개 변수의 값과 아이덴티티 출력"""
    print('n：', n, id(n))
    n = 0
    print('n：', n, id(n))

x = 5
print('x：', x, id(x))
func(x)
print('x：', x, id(x))

x： 5 140726156567592
n： 5 140726156567592
n： 0 140726156567432
x： 5 140726156567592

In [24]:
# 리스트의 요소 값 변경하기

def change(lst, idx, val):
    """lst[idx]의 값을 val으로 변경"""
    lst[idx] = val
    print(f'lst = {lst}')

x = [11, 22, 33, 44, 55]
y = x[:]
print(id(x), id(y))
print()
x2 = x
print(id(x), id(x2))
print()
print('x =', x)

index = 2
value = 333

change(y, index, value)
print('x =', y)

1997414191296 1997414199744

1997414191296 1997414191296

x = [11, 22, 33, 44, 55]
lst = [11, 22, 333, 44, 55]
x = [11, 22, 333, 44, 55]

In [17]:
x = [1,2,3]
print(id(x))
x[1] = 4
print(id(x))
x.append(7)
print(id(x))

1997413491136
1997413491136
1997413491136

In [ ]:
# 직각 이등변 삼격형과 사각형 출력하기2(키워드 인수)

# n개의 s를 연속해서 출력
def puts(n, s):
    for i in range(n):
        print(s, end='')

print('직각 이등변 삼각형')
n = int(input('짧은 변의 길이：'))

for i in range(1, n + 1):
    puts(n = i, s = '*')
    print()

print('사각형')
w = int(input('가로：'))
h = int(input('세로：'))

for i in range(1, h + 1):
    puts(s = '+', n = w) # 함수 호출 시 매개변수명 = 값
    print()

In [27]:
# 두 개 이상의 값 중 최댓값 구하기

def max2more(a, b, *num):
    """두 개 이상의 값 중 최댓값 구하기"""
    max = a if a > b else b
    for n in num:
        if n > max:
            max = n
    return max

print('max2more(1, 2)          = ', max2more(1, 2))
print('max2more(1, 2, 3)       = ', max2more(1, 2, 3))
print('max2more(1, 2, 3, 4, 5) = ', max2more(1, 2, 3, 4, 5))
#print('max2more(1)             = ', max2more(1))

max2more(1, 2)          =  2
max2more(1, 2, 3)       =  3
max2more(1, 2, 3, 4, 5) =  5