In [1]:
data = [1, 2, 3]
data

[1, 2, 3]

In [2]:
data = list(map(int, input().split()))
data

[1, 2, 3, 4, 5]

In [4]:
import random
data = [random.random() for _ in range(10)]
data

[0.5831041767679587,
 0.9617913436357757,
 0.38128438765289396,
 0.2352410048769633,
 0.5333090104860235,
 0.8166637237545986,
 0.5478901235617495,
 0.19129134510558443,
 0.6329893127674108,
 0.7655215625338115]

In [6]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [11]:
data = [2, 1, 3]
data

[2, 1, 3]

In [10]:
data.sort()
data

[1, 2, 3]

In [12]:
sorted(data), data

([1, 2, 3], [2, 1, 3])

In [13]:
for i in sorted(data):
    print(i)

1
2
3

In [14]:
1 in data

True

In [19]:
data[1:3], data[-1], data[::-1]

([1, 3], 3, [3, 1, 2])

In [21]:
data.append(4)
data

[2, 1, 3, 4, 4]

In [22]:
result = []
for i in range(10):
    if i % 3 == 0:
        result.append(i)
result

[0, 3, 6, 9]

In [26]:
data.count(4)

2

In [27]:
data.remove(4)

In [28]:
data

[2, 1, 3, 4]

In [29]:
del data[2]
data

[2, 1, 4]

In [30]:
stack = []

stack.append(1)
stack.append(2)
stack.append(3)

stack

[1, 2, 3]

In [31]:
stack.pop()

3

In [32]:
stack.pop()

2

In [34]:
queue = []
queue.append(1)
queue.append(2)
queue.append(3)
queue

[1, 2, 3]

In [35]:
p = queue.pop(0)
p, queue

(1, [2, 3])

In [36]:
data= [1,2,3]
data

[1, 2, 3]

In [37]:
data.insert(2,4)

In [38]:
data

[1, 2, 4, 3]

In [40]:
data = [2, 1, 3, 2, 1, 3]
set(data)

{1, 2, 3}

In [41]:
for d in data:
    print(d)

2
1
3
2
1
3

In [51]:
dIter = iter(data)

In [44]:
next(dIter)

2

In [53]:
len(data)

6

In [54]:
d1 = [1,2,3]
d2 = [4,5,6]
d1 + d2

[1, 2, 3, 4, 5, 6]

In [57]:
d1 = [1,2,3]
d2 = [1,2,3]
d1<d2

False

In [58]:
len(d1), max(d1), min(d1), sum(d1)

(3, 3, 1, 6)

In [60]:
a,b,c = [1,2,3]
a,b,c

(1, 2, 3)

In [61]:
data = [1,2,3]
data[0], data[1], data[-1]

(1, 2, 3)

In [63]:
data[1:3], data[:2], data[::-1]

([2, 3], [1, 2], [3, 2, 1])

In [64]:
data[1:3] = [99, 99]
data

[1, 99, 99]

In [68]:
data= [1,2,3]
data[1:3:-1], data[1:3][::-1], data[2:0:-1]

([], [3, 2], [3, 2])

In [69]:
data.index(2)

1

In [70]:
data.count(2)

1

In [80]:
data = [1,2,3,2,2]
data.index(2), data.index(2, 2)

(1, 3)

In [73]:
data = [1,2,3]
data.extend([3,3])
data

[1, 2, 3, 3, 3]

In [75]:
data = [1,2,3]
data*2

[1, 2, 3, 1, 2, 3]

In [76]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [77]:
x = [1, 2, 3]
print(id(x))
x = x + [4, 5]
print(x)
print(id(x))

2179399748544
[1, 2, 3, 4, 5]
2179406441216

In [78]:
x = [1, 2, 3]
print(id(x))
x += [4, 5]
print(x)
print(id(x))

2179399750400
[1, 2, 3, 4, 5]
2179399750400

In [85]:
x = [1,2,3]
for i in x:
    print(i)

1
2
3

In [86]:
for i in sorted(x, reverse=True):
    print(i)

3
2
1

In [87]:
for i in x[::-1]:
    print(i)

3
2
1

In [88]:
for i in reversed(x):
    print(i)

3
2
1

In [92]:
x = [1,2,3]
x.reverse()
for i in x:
    print(i)

3
2
1

In [90]:
data = map(int, input().split())
data
for i in data:
    print(i)

1
2
3

In [97]:
def operation_score(score):
    #implement your code
    sum_score = sum(score)
    avg_score = sum_score/len(score)

    return (sum_score, avg_score)

input_data_operation_score = [[32, 68, 72, 54, 92], [50, 5], [40,50,87,100]]
output_data_operation_score = [(318, 63.6), (55, 27.5), (277, 69.25)]

for input_values, output_value in zip(input_data_operation_score, output_data_operation_score):
    assert operation_score(input_values) == output_value

In [4]:
x= [15, 64, 7, 3.14, [32,55], 'ABC']
print(x)
print(len(x))
print(type(x))

[15, 64, 7, 3.14, [32, 55], 'ABC']
6
<class 'list'>

In [ ]:
# []사용하여 리스트 생성
list02 = [1,2,3]

# list() 사용하여 리스트 생성
list03 = list('abc')
print(list03)

list04 = list(range(6))
print(list04)

# 요소 개수를 지정하여 리스트 생성
list05 = [0]*10
print(list05)

['a', 'b', 'c']
[0, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
lst1 = [1,2,3]
lst2 = [1,2,3]
lst1 is lst2

False

In [ ]:
lst1 = [1,2,3,4,5]
# 치환문 -> 참조변수 값을 lst1에 넣어준 것
lst2 = lst1
lst1 is lst2
lst1[2] = 9
print(lst1)
print(lst2)

[1, 2, 9, 4, 5]
[1, 2, 9, 4, 5]

In [ ]:
l1 = [1,2,3]
l2 = [4,5]
# x는 새로운 리스트를 가리키고 있음
x = l1+l2
print(x)
x[2] = 99
print(l1)

[1, 2, 3, 4, 5]
[1, 2, 3]

In [16]:
x2 = x *2
x2

[1, 2, 99, 4, 5, 1, 2, 99, 4, 5]

In [ ]:
# list unpack
# 리스트의 각 원소를 풀어서 변수에 할당
x = [1,2,3]
a,b,c = x
print(a,b,c)

1 2 3

In [3]:
# 인덱스 사용과 slicing
x = [11,22,33,44,55,66,77]
print(x[-1])
print(x[-2])
print(x[::-1])
print(x[-3:])

77
66
[77, 66, 55, 44, 33, 22, 11]
[55, 66, 77]

In [ ]:
# in 연산자
a = 1
b = [1,2]
c = [[1,2],[3,4]]
d = [[1,2,3],[4,5]]
print(a in b in c) # a in b and b in c
print(a in b in d)

True
False

In [5]:
# list comprehension
x = [n for n in range(6)]
x

[0, 1, 2, 3, 4, 5]

In [ ]:
# list 확장
x = [11,22,33,44,55,66,77]
x.append(99)
print(x)

x2 = x *2
print(x2)

y = [1,2,3]
y *= 3 # 제자리 연산 y의 주소값이 동일한 id()를 통해 확인 가능
print(y)

[11, 22, 33, 44, 55, 66, 77, 99]
[11, 22, 33, 44, 55, 66, 77, 99, 11, 22, 33, 44, 55, 66, 77, 99]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [12]:
# list 삭제
# remove
x = [11,22,33,44,55,66,77]
x.remove(33)
print(x)

# pop
v = x.pop()
print(x)
print(v)

# del
del x[2:4]
print(x)

[11, 22, 44, 55, 66, 77]
[11, 22, 44, 55, 66]
77
[11, 22, 66]

In [16]:
# list iterable
x = ['john', 'george', 'paul', 'ringo']

for i in x:
    print(i)

for idx, name in enumerate(x):
    print(f'{idx} : {name}')

for idx, name in enumerate(x,1):
    print(f'{idx} : {name}')

john
george
paul
ringo
0 : john
1 : george
2 : paul
3 : ringo
1 : john
2 : george
3 : paul
4 : ringo

In [21]:
# 역순 탐색
x = [11,22,33,44,55,66,77]

for i in x[::-1]:
    print(i)

x2 = list(reversed(x))
print(x2)

x.reverse()
x

77
66
55
44
33
22
11
[77, 66, 55, 44, 33, 22, 11]

[77, 66, 55, 44, 33, 22, 11]

In [1]:
x = [[1,2,3],[4,5,6]]
x2 = x
x[0][0] = 9
print(x2)
print(x)

[[9, 2, 3], [4, 5, 6]]
[[9, 2, 3], [4, 5, 6]]

In [ ]:
# list 복사
lst2 = x.copy()
print(id(x[0]))
print(id(lst2[0]))
lst2[0][0] = -1 
print(x) # 2차원 배열이기 때문에 원본에도 영향을 미침 -> 얕은 복사는 1차원 배열에서만 참조변수가 서로 다른 주소를 가짐

lst2 = list(x)
print(id(lst2[0]))

lst2 = x[:]
print(id(lst2[0]))

3017784820800
3017784820800
[[-1, 9, 3], [4, 5, 6]]
3017784820800
3017784820800

In [7]:
import copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
x[0][1] = 9
print(x)
print(y)

[[1, 9, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

In [22]:
# list comprehension

x = [n for n in range(1,8)]
print(x)

x = [n**2 for n in range(1,8)]
print(x)

x = [f'{n}{"+" if n % 2 == 1 else "-"}' for n in range(1, 8)]
print(x)

x = [n for n in range(1,8) if n % 2 == 0]
print(x)

x = [i * 10 + j for i in range(1,3) for j in range(1, 4)]
print(x)

table = [[i * 10 + j for i in range(1,3)] for j in range(1,4)]
print(table)

n=4
im = [[1 if i == j else 0 for i in range(n)] for j in range(n)]
print(im)

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]
['1+', '2-', '3+', '4-', '5+', '6-', '7+']
[2, 4, 6]
[11, 12, 13, 21, 22, 23]
[[11, 21], [12, 22], [13, 23]]
[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [23]:
import array
arr = array.array('i',[1,3,-5,7])
print(arr)
print(len(arr))
print(arr.index(3))

array('i', [1, 3, -5, 7])
4
1