In [11]:
# 튜플 생성

tup = (1,2,3)
print(tup)

tup1 = tuple(range(5))
print(tup1)

tup2 = 1,2,3
print(tup2)

n = 1
t = 1,
print(type(n))
print(type(t))

tup3 = tuple([1,2,3])
print(tup3)

tup4 = divmod(13, 3)
print(tup4)

(1, 2, 3)
(0, 1, 2, 3, 4)
(1, 2, 3)
<class 'int'>
<class 'tuple'>
(1, 2, 3)
(4, 1)

In [14]:
tpl = (1,2,3)
print(id(tpl))
tpl += (4, 5)
print(tpl)
print(id(tpl))

1823880797440
(1, 2, 3, 4, 5)
1823881017552

In [15]:
x = (1, 3, 2)
print(id(x))
x = tuple(sorted(x))
print(x)
print(id(x))

1823880878656
(1, 2, 3)
1823880733120

In [16]:
tpl1 = (1,2,3,4,5)
tpl2 = tuple(tpl1)
print(id(tpl1))
print(id(tpl2))

1823880752128
1823880752128

In [5]:
tuple4 = 1,2,3,4
a,b,c,d = tuple4
a,_,c,_ = tuple4

a,b,c,d

(1, 2, 3, 4)

In [ ]:
x,y,z = 1,2,3 # 내부적으로 튜플을 먼저 생성하고 언팩하여 x,y,z이 가리키게 됨
x,y,z

(1, 2, 3)

In [4]:
a= 1
b=2
print(a,b)

a, b = b, a # tuple 개념이 있기 때문에 가능한 것
print(a,b)

1 2
2 1

In [11]:
a, _, *c = tuple4
print(a,c)

a,b,c,*d,e = tuple4
print(a,b,c,d,e)

1 [3, 4]
1 2 3 [] 4

In [10]:
tuple5 = (1,2,(3,4))
a,b,c = tuple5
print(a,b,c)

1 2 (3, 4)

In [15]:
import string

s = string.ascii_lowercase

for i, ch in enumerate(s):
    print(f's[{i}] = {ch}')

s[0] = a
s[1] = b
s[2] = c
s[3] = d
s[4] = e
s[5] = f
s[6] = g
s[7] = h
s[8] = i
s[9] = j
s[10] = k
s[11] = l
s[12] = m
s[13] = n
s[14] = o
s[15] = p
s[16] = q
s[17] = r
s[18] = s
s[19] = t
s[20] = u
s[21] = v
s[22] = w
s[23] = x
s[24] = y
s[25] = z

In [16]:
slist = list(string.ascii_lowercase)

for idx, ch in enumerate(slist):
    print(f'slist[{idx}] = {ch}')

slist[0] = a
slist[1] = b
slist[2] = c
slist[3] = d
slist[4] = e
slist[5] = f
slist[6] = g
slist[7] = h
slist[8] = i
slist[9] = j
slist[10] = k
slist[11] = l
slist[12] = m
slist[13] = n
slist[14] = o
slist[15] = p
slist[16] = q
slist[17] = r
slist[18] = s
slist[19] = t
slist[20] = u
slist[21] = v
slist[22] = w
slist[23] = x
slist[24] = y
slist[25] = z

In [ ]:
p1 = [72, 56, 89]
p2 = [42, 85, 77]
name = ['김서준', '이서아', '최하준']
pt = tuple(zip(p1,p2,name))
print(pt)
print(pt[0])
print(pt[0][0]) # tuple의 요소를 선택할 때 인덱싱 사용

((72, 42, '김서준'), (56, 85, '이서아'), (89, 77, '최하준'))
(72, 42, '김서준')
72

In [1]:
tup1 = (1,2,3)
tup2 = (1,3,2)
print(tup1 == tup2)

False