In [11]:
# 튜플 생성

tup = (1,2,3)
print(tup)

tup1 = tuple(range(5))
print(tup1)

tup2 = 1,2,3
print(tup2)

n = 1
t = 1,
print(type(n))
print(type(t))

tup3 = tuple([1,2,3])
print(tup3)

tup4 = divmod(13, 3)
print(tup4)

(1, 2, 3)
(0, 1, 2, 3, 4)
(1, 2, 3)
<class 'int'>
<class 'tuple'>
(1, 2, 3)
(4, 1)

In [14]:
tpl = (1,2,3)
print(id(tpl))
tpl += (4, 5)
print(tpl)
print(id(tpl))

1823880797440
(1, 2, 3, 4, 5)
1823881017552

In [15]:
x = (1, 3, 2)
print(id(x))
x = tuple(sorted(x))
print(x)
print(id(x))

1823880878656
(1, 2, 3)
1823880733120

In [16]:
tpl1 = (1,2,3,4,5)
tpl2 = tuple(tpl1)
print(id(tpl1))
print(id(tpl2))

1823880752128
1823880752128

In [17]:
tuple4 = 1,2,3,4
a,b,c,d = tuple4
a,_,c,_ = tuple4

a,b,c,d

(1, 2, 3, 4)

In [ ]:
x,y,z = 1,2,3 # 내부적으로 튜플을 먼저 생성하고 언팩하여 x,y,z이 가리키게 됨
x,y,z

(1, 2, 3)

In [ ]:
a, b = b, a # tuple 개념이 있기 때문에 가능한 것